.body {
  margin: 10;
  background-color: #FEFDED;
  width: 100%;
  height: 100vh;
  
}
.color{
  background-color: rgb(16, 109, 203);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center; 
  width: 100%;
  height: 70%;
}
div.header>div.one>h1, div.header>div.one>button{
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: forwards;
}
div.header>div.one>p{
  position: relative;
  animation: mymove2 5s;
  animation-fill-mode: forwards;
}
@keyframes mymove2 {
  from {right: -300px;}
  to {right: 0;}
}

.text{
  transition-timing-function: ease;
  
}
#dough {
  width: 65%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin-top:3%;

}
.one {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(244, 163, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0px #000000; 
}
.add{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
div.add>div.box_add.two {
  position: relative;
  animation: mymove 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
div.add>div.box_add.three {
  position: relative;
  animation: mymove2 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
  div.add{
  transition-timing-function: ease;
  }

.box_add{
    margin: 10px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center

}
.box-add-two{
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
/* CONTACT US */
.register{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center ;
  width: 60%;
  text-align: start;
  border: 5px solid #23599b;
  border-radius: 20px;
  padding-left: 10px;
  
}
.body2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #FEFDED;
  width: 100%;
  height: 100vh;
  
}
.img_contact{
  border-radius:  0 1rem  1rem 0 ; 
  width: 500px; 
  height: 600px;
}
input, textarea{
  background-color: rgb(255, 255, 255);
  width: 80%;
  font-style: oblique;
}
#UserName, #story{
  margin: 10px;
  border-radius: 10px;
}
.submit{
  margin: 10px;
  border-radius: 10px;
  color: #23599b;
}
.submit:hover{
  background-color: green;
  color: white;
}

/* PRODUCTS */

.parent{
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.box{
  display: flex;
  flex-direction: column;
  background-color: pink;
  margin: 20px;
  padding: 20px;
  font-size: 15px;
  flex:1;
  border-radius: 20px;

}

h3, img, a{
  align-self: center;
}

.list{
  background-color:#ffffd2;
  color: #7c7575;
}

h3{
  color:#52616b;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.price{
  color:#52616b;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  align-self: center;
}


del {
  background-color: #fbb;
}

ins{
  display: inline-block;
  transform: rotate(-25deg);
  text-decoration: none;
}

.ins2{
  text-decoration: none;
}

div.box>a{
  background-color: #3a8919;
  border-radius: 20px;
  
}

.btn{
  background-color: #3a8919;
  color: #ffffd2;
  font-size: 30px;
  border-radius: 10px;
  transition-timing-function: ease;
  transition-property: width, height;
  transition-duration:  2s;
}
div.box>a{
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: forwards;
}
div.box>a.three{
  position: relative;
  animation: mymove2 5s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {left: -300px;}
  to {left: 0;}
}

.price2{
  color:#52616b;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  align-self: center;
}

@media all and ( max-width:500px){
  .baby{
      font-size: 15px;
  }
  .baby2{
      font-size: 15px;
      margin-left: 30px;

  }
}

@media all and ( max-width:500px){
  .baby{
      font-size: 15px;
      margin-left: 30px;
  }
  .baby2{
      font-size: 15px;
      margin-left: 30px;

  }

}







